body{
    background-image: url(assets/Ph-home.webp);
    font-family: 'Playfair Display SC', serif;
    color: #322203;
    
    
}



.navbar{
    background-color:  rgba(214, 207, 200, 1);
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}


/* --- header ---*/

header{
    background-image: url(assets/Ph-home.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;    
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

.hueco {
    height: 40vh;
}

.barra-trans{
    background-color: rgba(214, 207, 200, 0.4); 
    color: white;
    
}

.fixed-bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* --- main ---*/

main {
    height: 100vh; 
    background-color: #d6cfc8;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold; 
    color: #322203;    

}
.hueco-main{
    height: 25px;
}

.blusa{
    background-image: url(assets/blusa.jpg);
    
}

.bolsos{
    background-image: url(assets/bolsos.jpg);
   
    
}

.conjunto{
    background-image: url(assets/conjunto.jpg);
   
}

.ropa{
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 6px whitesmoke;
    
}

.colecciones{
    border: 2px solid #9c9369

}


.comodo{
    background-color: #d7af73;
}

.linea-grafica {
    border-bottom: 1px solid #9c9369;
    height: 0;
    
}

.texto-vertical {
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: scaleY(1);
    transform-origin: 50% 50%;
    background-color: #9c9369;
    width: 30px;
    
}

/* --- aside ---*/

aside{
    height: 100vh; 
    background: linear-gradient(to bottom, #d6cfc8 50%, #fff 50%);
    font-family: 'Playfair Display SC', serif;
    font-weight: bold; 
    color: #322203;
}

.blusa-negra{
    background-image: url(assets/blusa-negra.jpg);
   
}
.bolso-2{
    background-image: url(assets/bolso-2.jpg);
  
}
.vestido{
    background-image: url(assets/vestido.jpg);
    
}

.elegant{
    background-color: #c6938c;
}

.aestetic{
    background-color: #389bad;
}

/* --- unicos ---*/
.unicos{
    height: 100vh;
    background: linear-gradient(to bottom, #d6cfc8 50%, #fff 50%);
    font-family: 'Playfair Display SC', serif;
    font-weight: bold; 
    color: #322203;

}

.bolso-3{
    background-image: url(assets/bolso-3.jpg);
    
}
.bolso-4{
    background-image: url(assets/bolso-4.jpg);
   
}
.vestido-2{
    background-image: url(assets/vestido-2.jpg);
  
}
.top-colores{
    background-image: url(assets/top-colores.jpg);
   
}
.conjunto-2{
    background-image: url(assets/conjunto-2.jpg);
   
}
.top-blanco{
    background-image: url(assets/top-blanco.jpg);
   
}
.vestido-de-banio{
    background-image: url(assets/vestido-de-banio.jpg);
}
.blusa-bicolor{
    background-image: url(assets/blusa-bicolor.jpg);

}

.ropa1{
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 6px whitesmoke; 
}

/* --- mim's girls ---*/

.mimis-girls{
    height: 80vh; 
    background-color: #d6cfc8;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold; 
    color: #322203;
}

.mimis{
    font-size: 25px;
    margin-bottom: 3vh;
}

.contenedor-imagen {
    width: 50px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

.imagen-redondeada {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

/* --- contacto ---*/

.contacto{
    height: 70vh;
    background-color: white;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold; 
    color: #322203;
}

.contactanos{
    font-size: 24px;
}

.iconos{
    height: 20px; 
    width: 20px; 
}

.telefono{
    height: 230px; 
    width: 120px; 
    margin-left: 4px;
}

.politicas{
    font-size: 10px;
}

@media screen and (min-width: 415px) {
    main {
        height: 70vh;
    }
    aside{
        height: 70vh;
    }
    .unicos{
        height: 88vh;
    }
    .mimis-girls{
        height: 40vh;
    }
    .contacto{
        height: 45vh;
    }

}

@media screen and (min-width: 767px) {
    main {
        height: 100vh;
    }
    aside{
        height: 100vh;
    }
    .unicos{
        height: 100vh;
    }
    .mimis-girls{
        height: 70vh;
    }
    .contacto{
        height: 70vh;
    }

    .titulo{
        font-size: 70px;
    }
    .piezas{
        font-size: 20px;
        padding-bottom: 5%;
    }
    #boton{
        height: 80px;
        width: 200px;
        font-size: 30px;        
    }

    .colecciones{
        font-size: 40px;
    }

    .texto-vertical{
        font-size: 30px;        
    }

    .caption{
        font-size: 30px;
    }

    .comodo{
        
        font-size: 30px;
    }

    .ropa{
        height: 60vh;
    }    

    .best-sellers{
        font-size: 40px;
    }
   
    .elegant{
        font-size: 25px;
    }

    .caption-price{
        font-size: 20px;
        text-align: left;
    }
    .aestetic{
        font-size: 25px;
        margin-top: 10px;
    }

    .unicos-personalizados{
        font-size: 30px;
    }
    
    .ropa1{
        height: 28vh;
    }

    .mimis{
        font-size: 60px;
    }

    .contenedor-imagen {
        width: 150px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
      }

    .nombre{
        font-size: 30px;
    }

    .description{
        font-size: 15px;
    }

    .contacto{
        height: 60vh;
    }

    .contactanos{
        font-size: 40px;
    }

    .numero{
        font-size: 20px;
    }

    .iconos{
        height: 30px; 
        width: 30px; 
    }

    .telefono{
        height: 345px; 
        width: 180px; 
        margin-left: 4px;
    }

    .politicas{
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {

    .ropa1{
        height: 50vh;
    }

    .unicos{
        height: 168vh;
        background: linear-gradient(to bottom, #d6cfc8 50%, #fff 50%);
        font-family: 'Playfair Display SC', serif;
        font-weight: bold; 
        color: #322203;
    
    }
}

@media screen and (min-width: 1200px) {

    .ropa1{
        height: 60vh;
    }

    .unicos{
        height: 200vh;
        background: linear-gradient(to bottom, #d6cfc8 50%, #fff 50%);
        font-family: 'Playfair Display SC', serif;
        font-weight: bold; 
        color: #322203;
    
    }

    .contenedor-imagen {
        width: 200px;
        height: 400px;
        overflow: hidden;
        border-radius: 50%;
      }

      .mimis-girls{
        height: 100vh;
      }

      .telefono{
        height: 500px; 
        width: 250px; 
        margin-left: 200px;
    }    
}

